* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.logo {
  width: 180px;
  height: 23.47px;
  margin-top: 33px;
  margin-left: 120px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

nav ul {
  flex: 1;
  text-align: center;
  margin-top: 33px;
}

nav ul li {
  display: inline-block;
  margin: 30px 49px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.input {
  width: 174px;
  height: 40px;
  text-align: center;
  border-radius: 85px;
  background: rgba(244, 251, 255, 0.1);
  border: none;

}

.profil_icon {
  color: #fff;
  border-radius: 50%;
}

.info {
  width: 86%;
  padding: 0 7%;
  display: flex;
  align-items: center;
  color: #fff;
  position: fixed;
  bottom: 50px;
  left: 0;
}

.info div {
  margin: 0 20px;
}

.info div h2 {
  font-size: 44px;
  font-weight: 400;
}

.info .line {
  flex: 1;
  background: #fff;
  height: 4px;
}

.opacity_model3 img {
  position: relative;
  width: 400px;
  height: 150px;
  color: var(--1, #0081ff);
  font-family: "SF UI  Text";
  font-size: 350px;
  font-weight: 700;
}

.ModelS_css {
  position: relative;
  top: 10px;
  left: 190px;
  width: calc(100% - 380px); /* Adjust based on the container's width */
  height: 489px;
  background: cover no-repeat;
}

/* Prevent horizontal overflow */
body {
  overflow-x: hidden;
}
